*{
    margin: 0px;
    padding: 0px;
}

button{
    background-color: hwb(336 0% 0%);
    padding: 10px;
    border-radius: 10px;
    color: white;
    border: none;
    font-size: medium;
    cursor: pointer;
    transition: box-shadow 0.3s, color 0.3s, background-color 0.3s;
}

button:hover {
    color: black; /* Change text color to black on hover */
    background-color: white; /* Change background color to white on hover */
    box-shadow: 0 0 3px white, /* White glow */
                0 0 3px white, /* White glow */
                0 0 3px white, /* White glow */
                0 0 3px white, /* White glow */
                0 0 3px white; /* White glow */
}



body{
    font-family: 'Poppins', sans-serif;
}
 
.blog-button:hover{
        color: white; /* Change text color to black on hover */
        background-color: black; /* Change background color to hwb(336 0% 0%) on hover */
        box-shadow: 0 0 5px black /* hwb(336 0% 0%) glow */
                    0 0 5px black /* hwb(336 0% 0%) glow */
                    0 0 5px black /* hwb(336 0% 0%) glow */
                    0 0 5px black /* hwb(336 0% 0%) glow */
                    0 0 5px black; /* hwb(336 0% 0%) glow */

}

/* hero section */

.hero-section
{
    color: white;
    position: relative;
    width: 100%;
    height: 320px; /* Adjust height as needed */
    overflow: hidden;
}



/*#video-background*/
#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video covers the entire section */
    z-index: -1; /* Ensure the video is behind other content */
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure content is above the video */
    color: white;
    text-align: center;
    padding: 20px;
  }

/* Animation for the glowing effect */
@keyframes glow-pink {
    0% {
      text-shadow: 0 0 3px hwb(336 0% 0%); /* Initial glow */
    }
    50% {
      text-shadow: 0 0 7px hwb(336 0% 0%); /* Increased glow */
    }
    100% {
      text-shadow: 0 0 3px hwb(336 0% 0%); /* Return to initial glow */
    }
  }

@keyframes glow-white {
    0% {
      text-shadow: 0 0 2px white; /* Initial glow */
    }
    50% {
      text-shadow: 0 0 5px white; /* Increased glow */
    }
    100% {
      text-shadow: 0 0 2px white; /* Return to initial glow */
    }
  }

.nav-bar{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    padding-right: 20px;
    gap: 20px;
    color: white;
}

.nav-bar a:link{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.nav-bar a:hover{
    color: white;
    animation: glow-white 1s infinite alternate;
}

.intro{
    display: flexbox;
    padding: 20px;
}

.intro h1 span{
    position: relative;
    animation: glow-pink 1s infinite alternate
}

.intro h1{
    font-size: 50px;
}

.blog-intro{
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-bottom: 20px;
}

/* about us */

.about-one{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.about-one img{
    border-radius: 50px;
}

.about-one a:link{
    color: hwb(336 0% 0%);
    text-decoration: none;
}

/* expertise */

.about-teams{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
    justify-content: space-between;
}

/* our projects */

.projects-container{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
    justify-content: space-evenly;
}

/* blog */
.blog-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.blog-container{
    display: flex;
    padding: 20px;
    flex-direction: row;
    gap: 30px;
    justify-content: space-evenly;
}

.blog-container a:link{
    color: hwb(336 0% 0%);
    text-decoration: none;
}

/* footer */

footer{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 20px;
}

.copyright{
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}

.copyright a:link{
    color: black;
    text-decoration: none;
}



/*  */

